ul{
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    margin: 5px;
}

li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.user-list{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}